.text-small {
  font-size: 13px;
}

.main-text-color {
  color: #DAFF01;
}

.main-btn-color {
  background-color: #9353FF;
  color: #ffffff;
}

.caption-position {
  top: 40%;
  
  @media(max-width: 767px)  {
    top: 60%;

    @media(max-width: 430px) {
      top: 52.5%;
    }
  }
}

.divs-facilidades {
  width: 325px;
}

.div-novidades {
  width: 325px;
}