.text-small {
  font-size: 13px;
}

.main-text-color {
  color: #DAFF01;
}

.main-btn-color {
  background-color: #9353FF;
  color: #ffffff;
}

.divs-facilidades {
  width: 325px;
}

.div-novidades {
  width: 325px;
}